numpy
pandas
matplotlib
scikit-image
scipy
cffi
imageio
tqdm
tensorflow
tensorboardX
yacs
pyyaml
easydict
cython
mmcv==0.4.4
ipython
cupy
thop
torch>=1.2
torchvision>=0.4.0
pypng
spatial-correlation-sampler
